  <section class="container">
    <h1 class="title">Lista de filmes</h1>
    <div class="search-wrapper">>
      <input class="input-search" type="text" [formControl]="queryField" placeholder="Buscar" />
    </div>
    <div *ngIf="movies$ | async as movies" class="cards-wrapper">
      <div class="card" *ngFor="let movie of movies">
        <img [src]="movie.poster" [alt]="movie.nome">
        <div class="card-more-info">
          <p>{{ movie.nome }} ({{ movie.ano }})</p>
          <p>{{ movie.diretor }}</p>
          <span *ngFor="let genero of movie.generos">{{ genero }}</span>
          <div class="card-more-info-description custom-scroll">
            <p>
              {{ movie.descricao }}
            </p>
          </div>
        </div>
      </div>

      <div *ngIf="movies.length < 1" class="not-found">
        <p>Nenhum resultado encontrado :(</p>
      </div>
    </div>
  </section>
