@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/*  RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body,
html {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  height: 100%;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
    background: #ffffff38;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ffffff36;
  }
}
